<h1><%= @buffet.id%> - <%= @buffet.commercial_name %></h1>
<% if current_user && current_user.buffet_id == @buffet.id %>
  <%= link_to 'Editar Buffet', edit_buffet_path(@buffet) %> | 
  <% if @address %>
    <%= link_to 'Editar Endereço', edit_address_path %> | 
  <% else %>
    <%= link_to 'Adicionar Endereço', new_address_path %> | 
  <% end %>
  <% if @payments %>
    <%= link_to 'Editar Metodos de Pagamento', edit_payment_method_path %> |
  <% else %>
    <%= link_to 'Adicionar Metodos de Pagamento', new_payment_method_path %> |
  <% end %>
  <%= link_to 'Adicionar Evento', new_event_path %>
<% end %>
<div>CNPJ: <%= @buffet.cnpj%></div>
<div>Email: <%= @buffet.email%></div>
<div>Phone: <%= @buffet.phone%></div>
<div>Descrição: <%= @buffet.description%></div>
<h2>Endereço</h2>
<div>Rua: <%= @address.street%></div>
<div>Numero: <%= @address.number%></div>
<div>Bairro: <%= @address.neighborhood%></div>
<div>Cidade: <%= @address.city%></div>
<div>Estado: <%= @address.state%></div>
<div>CEP: <%= @address.zip_code%></div>
<h2>Metodos de Pagamento</h2>
<div>Credit Card: <%= @payments.credit_card ? 'Sim' : 'Não' %></div>
<div>Debit Card: <%= @payments.debit_card ? 'Sim' : 'Não' %></div>
<div>PIX: <%= @payments.pix ? 'Sim' : 'Não' %></div>
<div>Ticket Payment: <%= @payments.ticket_payment ? 'Sim' : 'Não' %></div>
<h2>Eventos</h2>
<% @events.each do |event| %>
  <div>
    <p> <strong><%= event.id %> - <%= event.name %>:</strong> <%= event.description %></p>
    <% if current_user && current_user.buffet_id == event.buffet_id %>
      <%= link_to 'Editar Evento', edit_event_path(event) %> | 
      <% price = Price.find(event.price_id) if event.price_id != nil%>
      <% if price %>
        <%= link_to 'Editar Preço', edit_price_path(price) %>
      <% else %>
        <%= link_to 'Adicionar Preço', new_price_path %>
      <% end %>
    <% end %>
    <div>Capacidade:</div>
    <div>Min. de Pessoas: <%= event.min_people %></div>
    <div>Máx. de Pessoas: <%= event.max_people %></div>
    <p>Duração Padrão: <%= event.default_event_duration_minutes / 60 %> horas (<%= event.default_event_duration_minutes %> minutos)</p>
    <div>Serviços:</div>
    <div>Bebidas Alcoólicas: <%= event.alcoholic_drinks ? 'Sim' : 'Não' %></div>
    <div>Decoração: <%= event.decoration ? 'Sim' : 'Não' %></div>
    <div>Serviço de Estacionamento: <%= event.parking_service ? 'Sim' : 'Não' %></div>
    <div>Serviço de Valet: <%= event.valet ? 'Sim' : 'Não' %></div>
    <div>Local Exclusivo para Buffet: <%= event.exclusive_buffet_location ? 'Sim' : 'Não' %></div>
  </div>
  <div>
    <h3>Preços weekdays</h3>
    <div>Preço Base: <%= price.base_price_weekdays%></div>
    <div>Taxa Adicional por Pessoa: <%= price.additional_person_price_weekdays%></div>
    <div>Hora Extra: <%= price.extra_event_hour_price_weekdays%></div>
    <h3>Preços weekend</h3>
    <div>Preço Base: <%= price.base_price_weekend%></div>
    <div>Taxa Adicional por Pessoa: <%= price.additional_person_price_weekend%></div>
    <div>Hora Extra: <%= price.extra_event_hour_price_weekend%></div>
  </div>
<% end %>
