<h1><%= @buffet.id%> - <%= @buffet.commercial_name %></h1>

<% if current_user && current_user.buffet_id == @buffet.id %>
  <%= link_to 'Editar Buffet', edit_buffet_path(@buffet) %>
  <%= link_to 'Editar Endereço', new_address_path %>
  <%= link_to 'Editar Metodos de Pagamento', new_payment_method_path %>
<% end %>

<div><%= @buffet.legal_name%></div>
<div>CNPJ: <%= @buffet.cnpj%></div>
<div>Email: <%= @buffet.email%></div>
<div>Phone: <%= @buffet.phone%></div>
<div>Descrição: <%= @buffet.description%></div>