<h1>Editando Evento</h1>
<h1> <%= @event.name %> </h1>
<%= form_with model: @price, url: event_path(@event), method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :min_people %>
  <%= f.number_field :min_people %>
  <%= f.label :max_people %>
  <%= f.number_field :max_people %>
  <%= f.label :default_event_duration_minutes %>
  <%= f.number_field :default_event_duration_minutes %>
  <%= f.label :alcoholic_drinks %>
  <%= f.check_box :alcoholic_drinks %>
  <%= f.label :decoration %>
  <%= f.check_box :decoration %>
  <%= f.label :parking_service %>
  <%= f.check_box :parking_service %>
  <%= f.label :valet %>
  <%= f.check_box :valet %>
  <%= f.label :exclusive_buffet_location %>
  <%= f.check_box :exclusive_buffet_location %>
  <%= f.submit 'Salvar' %>
<% end %>