<h1>Editando Endereço <%= @address.id %></h1>

<%= form_with model: @address, url: address_path(@address), method: :patch do |f| %>
  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :number %>
  <%= f.text_field :number %>

  <%= f.label :neighborhood %>
  <%= f.text_field :neighborhood %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>

  <%= f.submit 'Salvar Endereço' %>
<% end %>