<h1>Preço - <%= @price.id%></h1>

<h2>weekdays</h2>
<div>Preço Base: <%= @price.base_price_weekdays%></div>
<div>Taxa Adicional por Pessoa: <%= @price.additional_person_price_weekdays%></div>
<div>Hora Extra: <%= @price.extra_event_hour_price_weekdays%></div>
<h2>weekend</h2>
<div>Preço Base: <%= @price.base_price_weekend%></div>
<div>Taxa Adicional por Pessoa: <%= @price.additional_person_price_weekend%></div>
<div>Hora Extra: <%= @price.extra_event_hour_price_weekend%></div>


