<%= stylesheet_link_tag 'order/index' %>

<div class="orders-list">
  <% if @orders.any? %>
    <% if current_user.owner && current_user.buffet_id != nil %>
      <h3>Pedidos do seu Buffet:</h3>
      <% @orders.each do |order| %>
        <div class="order-item">
          <%= link_to order_path(order) do %>
            <h2><%= order.code %></h2>
            <p><%= order.date %></p>
            <p><%= order.more_details %></p>
            <p><%= order.status.humanize %></p>
          <% end %>
        </div>
      <% end %>
    <% elsif !current_user.owner %>
      <h3>Seus pedidos:</h3>
      <% @orders.each do |order| %>
        <div class="order-item">
          <%= link_to order_path(order) do %>
            <h2><%= order.code %></h2>
            <p><%= order.date %></p>
            <p><%= order.more_details %></p>
            <p><%= order.status.humanize %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Nada pra você aqui.</p>
    <% end %>
  <% else %>
    <p>Nenhum pedido encontrado.</p>
  <% end %>
</div>
