<h1>new registro works</h1>
<h1>Cadastrar Novo Pedido</h1>
<%= form_with model: @order, url: '/order' do |f| %>
  <%= f.hidden_field :buffet_id, value: @buffet_id %>
  <%= f.hidden_field :event_id, value: @event_id %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :guest_count %>
  <%= f.text_field :guest_count %>
  <%= f.label :more_details %>
  <%= f.text_field :more_details %>
  <%= f.hidden_field :event_exclusive_address, value: @exclusive_buffet_location %>
  <% if @exclusive_buffet_location %>
    <%= f.label :address %>
    <%= f.text_field :address %>
  <% else %>
    <%= f.hidden_field :address, value: nil %>
  <% end %>
  <%= f.submit 'Concluir' %>
<% end %>
